@{
    ViewData["Title"] = "MDP Terms of Service";
}

<br>
<br>
<br>

<div class="row">
    <div class="col"><!--col 1-->
            <h2>Terms of Service</h2>
            <br>
            <h2>General</h2>
            This website is provided by Collins Aerospace, including its affiliates, as an on-line service
            subject to your acceptance of the terms and conditions set forth in this agreement
            (“Agreement”). This website and information and materials presented on it (collectively “Site”)
            are Collins Aerospace property. Please read this Agreement carefully before accessing, browsing
            or using this Site. By accessing or using the Site, you agree that you have read, understood and
            have become legally bound by the following terms and conditions. If you do not agree to these
            terms and conditions do not access or use this Site.
            <br>
            <br>
            <h2>Limited license</h2>
            Subject to the terms and conditions set forth herein and all applicable local laws and
            regulations, Collins Aerospace grants you a non-exclusive, non-transferable, personal, limited
            license to access, use and display this Site. This license is not a transfer of title to the
            Site or materials contained herein and is expressly subject to the following restrictions: (1)
            you must retain all copyright and other proprietary notices on all copies of the Site; and (2)
            you may not modify the Site or any materials in any way, reproduce, publicly display, perform,
            distribute, create derivative works of, or otherwise use the Site and any materials for any
            public or commercial purpose, except as otherwise specifically permitted herein. You may not use
            the Site or any materials to design, manufacture or repair parts, or obtain FAA or other
            government approval to do so without Collins Aerospace express, written permission.
            <br>
            <br>
            <h2>Disclaimer</h2>
            Collins Aerospace provides this Site and its contents on an “as is” basis and makes no
            representations or warranties of any kind with respect to this Site or its contents. Collins
            Aerospace disclaims all such representations and warranties, whether express or implied,
            including, but not limited to, the warranties of merchantability and fitness for a particular
            purpose. In addition, Collins Aerospace does not represent or warrant that the information
            accessible via this Site is accurate, complete or current.
            <br>
            <br>
            <h2>Changes</h2>
            All content contained herein is subject to change without notice. Collins Aerospace reserves the
            right to change or modify the terms and conditions applicable to the use of this Site at any
            time. Such changes, modifications, additions, or deletions to the terms and conditions of use
            shall be effective immediately upon notice thereof, which may be given by any means including,
            but not limited to, posting new terms and conditions on the Site. Any use of the Site after such
            change or modification shall be deemed to constitute acceptance by you of such changes,
            modifications, additions, or deletions. Collins Aerospace may terminate, change, suspend or
            discontinue any aspect of the Site, including the availability of any features of the Site, at
            any time. Collins Aerospace may also impose limits on certain features and services or restrict
            your access to parts of the Site without notice or liability.
            <br>
            <br>
            <h2>Hyperlinks</h2>
            Certain links provided on this Site will launch Internet sites that are not under the control of
            Collins Aerospace. Collins Aerospace provides connections to these outside linked Internet sites
            solely as a convenience to its users and the provision of any such link is not an endorsement by
            Collins Aerospace of that Internet site or any of the contents, products, or services contained
            or offered therein. COLLINS AEROSPACE MAKES NO REPRESENTATIONS OR WARRANTIES WHATSOEVER
            CONCERNING AVAILABILITY OF OR CONTENT, INCLUDING SUB-LINKS, FOUND ON THOSE INTERNET SITES.
            <br>
            <br>
            When registering for, ordering or purchasing products or services from any party, which is
            linked to this Site, you will be entering into an agreement with that third party and not with
            Collins Aerospace. In these cases, you should review and understand the terms and conditions
            posted by such third party and its privacy policy before you register, order or purchase. Except
            to the extent specifically stated herein, the privacy policy and terms of use stated by Collins
            Aerospace herein will not apply. Collins Aerospace is committed to linking to Internet sites od
            companies that share our privacy concerns. However, we cannot and do not control the way these
            parties use or collect information or operate their businesses. When you link to another party’s
            Internet site, you should be aware that those companies may use cookies or other means to
            collect information about you. As Collins Aerospace does not control these Internet sites, you
            should be aware that Collins Aerospace privacy policy and terms do not apply.
            <br>
            <br>
            <h2>Submissions</h2>
            By submitting information and material to Collins Aerospace, whether via e-mail, through the
            Site, or otherwise, including, but not limited to, feedback, questions, comments, suggestions,
            ideas, graphics or computer files of any type, you thereby, or warrant, that the owner of such
            material has thereby irrevocably waive/waived all moral rights, all rights or privacy and
            publicity, and the like, and expressly grant/granted Collins Aerospace a royalty-free,
            perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt,
            publish, translate, prepare derivative works and distribute such material (in whole or in part
            and without any obligation of attribution) worldwide and to incorporate it in other works in any
            form, media or technology now known or hereafter developed, subject to the Collins Aerospace
            Privacy Policy included on the Site.
            <br>
            <br>
            <h2>Limitation of liability</h2>
            Neither Collins Aerospace nor any of its subsidiaries, employees, or other representatives shall
            be liable for damages arising out of or in connection with the use of this Site or any linked
            site. Under no circumstances shall Collins Aerospace have any liability for any consequential,
            incidental, indirect, special, or punitive damages or costs, including, but not limited to, lost
            profits, business interruption, loss of information or data, or loss of goodwill, loss of or
            damage to property, and any claims of third parties, arising out of or in connection with the
            use, copying, or display of this Site or its contents or any linked website, regardless of
            whether Collins Aerospace has been advised, knew, or should have known of the possibility
            thereof.
            <br>
            <br>
            <h2>International users and jurisdiction</h2>
            This Site is maintained and controlled by Collins Aerospace in the United States of America.
            Collins Aerospace makes no representation that materials on this Site are appropriate or
            available for use at other locations outside of the United States and access to this Site from
            territories where this Site's contents are illegal is prohibited. If you access this Site from
            locations outside the United States, you are responsible for compliance with all local laws. The
            laws of the State of Connecticut shall govern the content and use of this Site, without giving
            effect to any of the conflict of law principles or rules thereof. Information contained in this
            website may be subject to U.S. government export controls. This information is subject to all
            laws, regulations and administrative acts, now or hereafter in effect of the U.S. government
            regarding the exportation and/or re-exportation of information. The recipient of this
            information acknowledges that they will be responsible for compliance as necessary with such
            laws, regulations and administrative acts. Prior to the disclosure of information presented on
            this website to any foreign national, the recipient will obtain any such approvals in a manner
            consistent with the terms and conditions of this Agreement.
            <br>
            <br>
            <h2>Copyright and trademark</h2>
            All Site design, text, graphics, and the selection and arrangement thereof are the property of
            Collins Aerospace. © 2021 Collins Aerospace. Any text or images bearing logos or the symbols TM,
            SM or ® are trademarks or registered trademarks and are used herein by permission of their
            respective owners. Any trademarks, product names, company names, etc., whether or not appearing
            with trademark symbols, in all capital letters or otherwise denoting ownership of the same,
            belong to their respective owners.
    </div><!--Close col-->
</div><!--close row-->