﻿@{
    ViewData["Title"] = "About";
}

<br>
<br>
<br>

<div class="row">
    <div class="col">
        <h2>About My Application</h2>
        <br>
        <p>This application is designed to provide a landing page for future assignments so that they are all located in one place and can be graded easily.</p>
        <p>It provides a drop down menu for all assignments. Clicking on the assignment will take you to the views for that application</p>
        <p>Feel free to explore the different sections and functionalities of the application.</p>
    </div>
</div>
