﻿@{
    ViewData["Title"] = "Contact";
}

<br>
<br>
<br>

<div class="row">
    <div class="col">
        <h2>My Contact Info</h2>
        <br>
        <p>Name: Joshua Elliott</p>
        <p>Email: jtelliott@dmacc.edu</p>
    </div>
</div>
