﻿@{
    ViewData["Title"] = "Privacy";
}

<br>
<br>
<br>

<div class="row">
    <div class="col">
        <h2>Privacy Policy</h2>
        <br>
        <p>This privacy policy explains how our application handles and protects your personal information.</p>
        <p>We respect your privacy and ensure that any information you provide is treated confidentially and securely.</p>
        <p>Please review our full privacy policy for more details.</p>
    </div>
</div>